<!-- the good and most consize way is to use *ngIf at the parrent div -->
<div class="course-card" *ngIf="course">
  <!-- <div class="course-title">{{ index }} {{ course.description }}</div> -->
  <div class="course-title">{{ course.description }}</div>
  <img
  width="300"
  alt="Angular Logo"
  *ngIf="isImageAvailable()"
  [src]="course.iconUrl"
  />
  
  <div class="course-description">
    {{ course.longDescription }}
  </div>
  <button (click)="onCourseViewed()">View Card</button>
</div>

<!-- one solution if we have undefined course object, is to use elvis operator: ? -->
<!-- <div class="course-title">{{ course?.description }}</div> -->
