<!-- the good and most consize way is to use *ngIf at the parrent div -->
@if (course) {
  <div class="course-card">
    <!-- <div class="course-title">{{ index }} {{ course.description }}</div> -->
    <div class="course-title">{{ course.description }}</div>
    @if (isImageAvailable()) {
      <img
        width="300"
        alt="Angular Logo"
        [src]="course.iconUrl"
        />
    } @else {
      <p>No image available...</p>
    }
    <div class="course-description">
      {{ course.longDescription }}
    </div>
    <button (click)="onCourseViewed()">View Card</button>
  </div>
}

<!-- one solution if we have undefined course object, is to use elvis operator: ? -->
<!-- <div class="course-title">{{ course?.description }}</div> -->
