<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    />
  </div>
  <div class="courses">
    <!-- @for(course of courses; track $index; let index = $index; let count =
    $count; let last = $last; let even = $even; let odd = $odd){
    <h1>count is: {{ count }}</h1>
    <course-card
      [index]="index"
      (courseSelected)="onCourseSelected($event)"
      [course]="course"
      [class.is-first]="$first"
      [class.is-last]="last"
      [class.is-even]="even"
      [class.is-odd]="odd"
      />
      } @empty {
      <h1>no content available...</h1>
      } -->
      @for (course of courses; track course; let i = $index; let isFirst = $first) {
        <course-card
          (courseSelected)="onCourseSelected($event)"
          [course]="course"
          [cardIndex]="i + 1"
          [class.is-first]="isFirst"
          />
      }
    </div>
